@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #121214;
  --gray-600: #202024;
  --white: #FFF;
  --green-500: #00B37E;
}

body {
  color: var(--white);
  background: var(--gray-900);
}
